
label {
    color: rgb(2,2,66);
    font-weight: bold;

}

input{
    width: 220px;
    /* Bordas arredondadas*/
    border-radius: 4px;

}

textarea{
    width:220px ;
    border-radius: 4px;

}

button {
    width: 100px;
    height: 30px;
    color: rgb(2,2,66);
    background-color: rgb(237,237,161);

}

button:hover{
    color:rgba(212, 212, 214, 0.873);
    background-color: rgb(13,52,200);
    font-weight: bold;

}