/* zera as conf da pag */

*{

    margin: 0; /*zera margem*/
    padding: 0; /*zera espaço*/
    box-sizing: border-box; /*zera bordas*/

}

header{

    background-color: rgb(184, 190, 247);
    margin: 50px;
    padding: 30px;

}

ul li{

    /*tira as bolinhas*/
    list-style: none;
    display: inline;
    padding: 12px;

}

a{
    /*tira o sublinhado*/
    text-decoration: none;
    color: rgb(10, 8, 37);
    font-weight:bold ;
    font-size: 18pt;
    cursor: pointer;
   
   
}

a:hover{
    color: rgb(136, 18, 18);
    text-decoration: overline;
    padding: 6px;
    transition: 5ms;

}

section{
    margin: 50px;
}


h2{
    background-color: rgb(184, 190, 247);
    padding: 20px;
    text-align: center;
}       
    

/*    
.about{
    background-color:  rgb(184, 190, 247);
}
*/ 

#font-type{
    font-family:system-ui, -system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

p{
    padding: 10px;
    text-align: justify;
}

div h2{
    margin: 37px;
}

footer{

}

.rodape{
    margin: 50px;
    text-align: center;
}