*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    text-align: center;
    padding: auto;
}



form{
    display:flex;
    align-items: center;
    justify-content:center;
    padding: 50px

}

.rotulos{

    margin-right: 15px;
}

input{
    margin-right: 15px;

}

.bt-submit{
    background-color: blue;
    color:antiquewhite
}

